@model LG.DLFinance.ViewModels.CreditLineViewModel

<td>@Html.DisplayFor(model => Model.AugustTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.SeptemberTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.OctoberTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.NovemberTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.DecemberTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.JanuaryTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.FebruaryTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.MarchTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.AprilTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.MayTotalCredit)</td>
<td>@Html.DisplayFor(model => Model.TotalCredits)</td>

