@model LG.DLFinance.ViewModels.IndividualWinningsViewModel

<td  style="text-align:center">@Html.DisplayFor(model => Model.Fivers)</td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.Weekly)</td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.Jackpot)</td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.Cup)</td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.League)</td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.Total)</td>
<td></td>
<td  style="text-align:center">@Html.DisplayFor(model => Model.Payout)</td>
