@model LG.DLFinance.ViewModels.CreditLineViewModel

<td style="color:blue">@Html.DisplayFor(model => Model.AugustTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.SeptemberTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.OctoberTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.NovemberTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.DecemberTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.JanuaryTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.FebruaryTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.MarchTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.AprilTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.MayTotalOwed)</td>
<td style="color:blue">@Html.DisplayFor(model => Model.TotalOwed)</td>

