@model LG.DLFinance.ViewModels.PaidInLineViewModel

<td>@Html.DisplayFor(model => Model.AugustTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.AugustTotalWon)</td>
<td>@Html.DisplayFor(model => Model.SeptemberTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.SeptemberTotalWon)</td>
<td>@Html.DisplayFor(model => Model.OctoberTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.OctoberTotalWon)</td>
<td>@Html.DisplayFor(model => Model.NovemberTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.NovemberTotalWon)</td>
<td>@Html.DisplayFor(model => Model.DecemberTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.DecemberTotalWon)</td>
<td>@Html.DisplayFor(model => Model.JanuaryTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.JanuaryTotalWon)</td>
<td>@Html.DisplayFor(model => Model.FebruaryTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.FebruaryTotalWon)</td>
<td>@Html.DisplayFor(model => Model.MarchTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.MarchTotalWon)</td>
<td>@Html.DisplayFor(model => Model.AprilTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.AprilTotalWon)</td>
<td>@Html.DisplayFor(model => Model.MayTotalPaidIn)</td>
<td>@Html.DisplayFor(model => Model.MayTotalWon)</td>
